name: Documentation
on:
  push:
    branches:
      - main
    paths:
      - "docs/**"
      - "zensical.toml"
  pull_request:
    branches:
      - main
    paths:
      - "docs/**"
      - "zensical.toml"

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/configure-pages@v5
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v5
        with:
          python-version: 3.x
      - name: Install and Build
        run: |
          pip install zensical
          zensical build --clean
      - name: Upload
        uses: actions/upload-pages-artifact@v4
        with:
          path: site
  deploy:
    needs: build
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy gh page
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        uses: actions/deploy-pages@v4
        id: deployment
